# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

00-TYPESCRIPT
01-VITE+REACT+TS
02-file system/node_modules
03-node project/node_modules
04-json-server/node_modules
05-web-server/node_modules
05-web-server/.env
06-web-server-es6/node_modules
06-web-server-es6/.env
07-node-crud/mongo-data
07-node-crud/node_modules
07-node-crud/.env
08-node-jwt-ts/node_modules
08-node-jwt-ts/.env
08-node-jwt-ts/postgres
08-node-jwt-ts/dist
